<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (kegler(); as keglerRef) {
      <div>
        <h2 data-cy="keglerDetailsHeading"><span jhiTranslate="kegelclubApp.kegler.detail.title">Kegler</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ keglerRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="kegelclubApp.kegler.name">Name</span></dt>
          <dd>
            <span>{{ keglerRef.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Zurück</span>
        </button>

        <button type="button" [routerLink]="['/kegler-frontend-do', keglerRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Bearbeiten</span>
        </button>
      </div>
    }
  </div>
</div>
